<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^([A-Za-z]+)$ /Default.php?page_type=$1
    
RewriteRule ^([A-Za-z]+)/([0-9]+)$ /Default.php?page_type=$1&type=$2
    
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)$ /Default.php?page_type=$2.$1
    
RewriteRule ^([A-Za-z]+)/([A-Za-z0-9&=]+)$ /Default.php?page_type=$1&$2 
RewriteRule ^((!Default).*)$ /Default.php [L]

</IfModule>

